.cabecalho {
    text-align: center;
    padding: 2rem;
}

.cabecalho__container {
    align-items: center;
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
}

.cabecalho__titulo {
    color: var(--cor-branco);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 1rem;
}

.cabecalho__titulo-secundario {
    color: var(--cor-cinza);
    font-size: 1.2rem;
}

.cabecalho__cv {
    color: var(--cor-azul-claro);
    border: 2px solid var(--cor-azul-claro);
    border-radius: 8px;
    font-weight: 600;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    width: 150px;
    
}

.cabecalho__cv:hover {
    background: var(--cor-azul-claro);
    border: 2px solid var(--cor-bg-secundaria);
    box-shadow: 0px 0px 0px 1px var(--cor-azul-claro);
    color: var(--cor-bg);
    font-weight: 600;
    transition: .8s;
}

.cabelho__foto {
    border-radius:50%;
    border: 2px solid var(--cor-azul-claro);
    margin-top: 1.5rem;
    height: 250px;
}

@media screen and (min-width: 992px) {
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

@media screen and (min-width: 1300px) {
    .cabecalho{
        gap: 20rem;
    }
}