@media screen and (max-width: 1020px) {
  .menu,
  .btn-contato {
    display: none;
  }

  .topo-do-site {
    padding: 40px 5%;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  .txt-topo-site h1 {
    font-size: 32px;
  }

  .flex {
    flex-direction: column;
  }

  .topo-do-site {
    padding: 20px 8%;
  }

  .img-topo-site img {
    width: 15rem;
  }

  .topo-do-site .flex {
    gap: 40px;
  }

  /* ESPECIALIDADES */
  .especialidades {
    padding: 40px 5%;
  }

  .especialidades-box {
    padding: 15px;
  }

  .especialidades .titulo {
    font-size: 32px;
  }

  .especialidades .flex {
    gap: 10px;
    flex-direction: column;
  }

  /* SOBRE */
  .sobre {
    padding: 40px 5%;
  }

  .txt-sobre h2 {
    font-size: 32px;
  }

  .sobre .flex {
    flex-direction: column-reverse;
    text-align: center;
    gap: 60px;
  }

  .img-sobre img {
    width: 15rem;
  }

  /* PROJETOS */
  .portfolio {
    padding: 80px 5%;
  }

  .portfolio .titulo {
    font-size: 32px;
  }

  .img-port {
    width: 100%;
    /* max-width: 400px; */
    margin: 0 auto;
  }

  .portfolio .flex {
    gap: 40px;
    flex-direction: column;
  }

  /* RODAPE */
  footer .flex {
    flex-direction: column;
  }
}


