.projetos {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.projetos__titulo {
    color: var(--cor-azul-claro);
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
}

.projetos__dados {
    align-items: center;
    background: var(--cor-bg-secundaria);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}

.projetos__imagem {
    /* background: url(../assets/img/card-image.svg); */
    border-radius: 15px;
    margin-top: 2rem;
    height: 250px;
    width: 300px;
}

.projetos__titulo-nome {
    color: var(--cor-branco);
    font-size: 1.5rem;
}


.projetos__botoes {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.projetos__botao-esquerdo {
    color: var(--cor-azul-claro);
    border: 1px solid var(--cor-azul-claro);
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
}

.projetos__botao-esquerdo:hover {
    background: var(--cor-azul-claro);
    border: 2px solid var(--cor-bg-secundaria);
    box-shadow: 0px 0px 0px 1px var(--cor-azul-claro);
    color: var(--cor-bg);
    font-weight: 400;
    transition: .3s;
}

.projetos__botao-direito {
    background: var(--cor-azul-claro);
    border: 1px solid var(--cor-azul-claro);
    border-radius: 8px;
    color: var(--cor-bg-secundaria);
    padding: 1rem;
    text-decoration: none;
}

.projetos__botao-direito:hover {
    background: var(--cor-bg);
    border: 2px solid var(--cor-azul-claro);
    box-shadow: 0px 0px 0px 1px var(--cor-bg-secundaria);
    color: var(--cor-azul-claro);
    font-weight: 400;
    transition: .3s;
}

/* Animação */
.card {
    position: relative;
    width: 90%;
    height: 470px;
    background: var(--cor-bg-secundaria);
    border-radius: 10px;
    margin: 1rem auto;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    top: -50%;
    left: -50%;
    animation: animacao 8s linear infinite;
    transform-origin: bottom right;
}

.card::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    top: -50%;
    left: -50%;
    animation: animacao 8s linear infinite;
    transform-origin: bottom right;
    animation-delay: -4s;
}

@keyframes animacao {
    0% {
        transform: rotate(odeg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.linha {
    position: absolute;
    background: var(--cor-bg-secundaria);
    border-radius: 10px;
    inset: 2px;
    z-index: 10;
}

@media screen and (min-width: 992px) {
    .projetos {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .projetos__titulo {
        position: absolute;
        top: 45rem;
        left: 29.125rem;
        margin: 0 auto;
    }

    .card {
        width: 30%
    }
}

@media screen and (min-width: 1300px) {
    .projetos {
        column-gap: 1rem;
        margin: 0 3rem;
        
    }
    
    .projetos__titulo {
        position: absolute;
        top: 45.3125rem;
        left: 38.125rem;
        margin: 0 auto;
    }

    .card {
        width: 350px
    }
}