.rodape {
    background: var(--cor-azul-claro);
    padding: 1rem;
    margin-top: 1.5rem;
    position: relative;
}

.rodape__link {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 2.5rem;
}

.icone {
    font-size: 3rem;
    color: var(--cor-bg);
    padding: 1rem;
}

.rodape__copyright {
    text-align: center;
}

.rodape__home {
    color: var(--cor-bg);
    font-size: 1.5rem;
    position: absolute;
    top: 7px;
    right: 10px;
    animation: subir 2s alternate ease-in-out infinite;
}

@keyframes subir {
0% {
    transform: scale(.9);
}
100% {
    transform: scale(1.2);
}
}