.topo-do-site {
  padding: 40px 4%;
}

.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site .txt-topo-site h1 {
  color: var(--cor-branco);
  font-size: 42px;
  font-weight: 500;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: var(--cor-azul-claro);
  font-size: 50px;
}

.topo-do-site .txt-topo-site p {
  color: var(--cor-branco);
  margin: 40px 0;
}

.img-topo-site img {
  width: 25rem;
  border: 3px solid var(--cor-azul-claro);
  border-radius: 50%;
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}
