.projetos__card {
    width: 90%;
    height: 450px;
    margin: 1rem auto;
    position: relative;
}

.projetos {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.projetos__titulo {
    color: var(--cor-azul-claro);
    font-size: 1.6rem;
    margin-top: 2rem;
    text-align: center;
}

.projetos__dados {
    align-items: center;
    background: var(--cor-bg-secundaria);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}

.projetos__imagem {
    /* background: url(../assets/img/card-image.svg); */
    border-radius: 15px;
    margin-top: 2rem;
    height: 250px;
    width: 300px;

    z-index: 10;
}

.projetos__titulo-nome {
    color: var(--cor-branco);

    z-index: 10;
}


.projetos__botoes {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;

    z-index: 10;
}

.projetos__botao-esquerdo {
    color: var(--cor-azul-claro);
    border: 1px solid var(--cor-azul-claro);
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
}

.projetos__botao-direito {
    background: var(--cor-azul-claro);
    border: 1px solid var(--cor-azul-claro);
    border-radius: 8px;
    color: var(--cor-bg-secundaria);
    padding: 1rem;
    text-decoration: none;
}

/* Animação */
.projetos__card .linha {
    overflow: hidden;
    position: absolute;
    inset: 0;
}

.projetos__card .linha::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animacao 7s linear infinite;
}

.projetos__card .linha::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: var(--cor-bg-secundaria);
}

@keyframes animacao {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

