@import url("cabecalho.css");
@import url("sobre.css");
@import url("projetos.css");
@import url("contato.css");


:root {
    --cor-bg: #23242b;
    --cor-bg-secundaria: #313131;
    --cor-azul-claro: #4db5ff;
    --cor-branco: #fff;
    --cor-cinza: #a5a5af;
}


body {
    background: var(--cor-bg);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

